<!-- Directives in Angular -->


<!-- to add the attributes inside the hadding we have to start it with * and then the attribute the ngIf is the old approach we dont use it anyymore. here we are just working on the old approach which starts with ng there is no ngElse, so we use ! sign after using ngIf to make it ngElse -->

<h2 *ngIf="isLoggedIn" >{{ userName }}</h2>

<h4 *ngIf="!isLoggedIn" >User is not loggen in</h4>



<!-- the new syntax approach is @If then we will add the component inside the () and then will get what we want inside the {}. In this we are just working with the new angular approach which starts with @ -->

@if (isLoggedIn) {
    <h2>{{ userName }}</h2>
}

@else {
    <h4>Trying something new</h4>
}

@if (!isLoggedIn) {
    <h5>{{"@Else is working"}}</h5>
}

<!-- if directives with Number values. the first attemp is using the old approach where we have used the ngIf, but the new appraoch is @if and that is easy to use -->

<!-- <button (click)="countLoginAttempts()" *ngIf="loginCount < 3">Log In</button>

<h4 *ngIf="loginCount > 2" >Exceeded 3 Login attemts, try again in 3 years.</h4> -->


@if(loginCount < 3){
<button (click)="countLoginAttempts()" >Login Syntax</button>
}

@if (loginCount > 2) {
    <h4>Exceeded 3 Login attemts, try again in 3 years.</h4>
}

<!-- String values conditions First we used the old approach to see what is the userRole inside the TS file, and then displays the message according to that role,a nd then we used the new approach of @if and @else if to display the message according to the role inside the TS file -->

<!-- <h5 *ngIf="userRole == 'Admin'; else memberMessage " >Welcome Admin</h5>

<ng-template #memberMessage >
    <h5>Welcome Member</h5>
</ng-template> -->

@if (userRole == 'Admin') {
    <h5>Welcome Admin</h5>
}
@else if(userRole == 'Member') {
    <h5>Welcome Member</h5>
}

<!-- What is Ng-Template? It is a great tool in angular which we can use when we need it and we can keep it hidden until we need it. like in the given example, if we use the ng-template without giving any else condition it will never be shown inside our project -->

<h2 *ngIf="userRole == 'Admin'; else dynamicTemplate">Using Dynamic Template</h2>

<ng-template #dynamicTemplate>
    <p>Content inside ng-template</p>
</ng-template>

<!-- ngTemplateOutlet. so by using the NgTemplateOutlet we don't have to make buttons on each div. we can just make one button in one ngTemplateOutlet and then we can use it wherever we want. We don't just have to make buttons. we can do anything and make anything inside the ng-template, and then by using ngTemplateOutlet we can use them wherever we want -->

<ng-template  #callToAction>
    <button>Join Now</button>
</ng-template>

<div [ngTemplateOutlet]="callToAction" >
    <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Hero</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Footer</h5>
</div>

<!-- ngFor directive: so instead of getting the array data separately, we can get the whole data by using ngFor by making another array using let and then storning all the files of our Array which we made in TS inside that new array, and then used the string interpolation to load this inside the browser view -->

<!-- <h3> {{users}} </h3>

<h3> {{users[0] }} </h3>
<h3> {{users[1] }} </h3>
<h3> {{users [2] }} </h3>
<h3> {{users [3] }} </h3> -->

<h3 *ngFor="let user of users" > {{ user }} </h3>

<!-- in the new approach by using @for we can loop through the Array which we made in TS file, by puting @for and then making a new array inside the () and then storing the files of TS file's array inside that new array by using for ArrayName and then in the new approach we need to define the track of the new array which we have made so we use ; track and then newArrayName to get its track done and after that inside the {} we first get how we want to show data like using h3 and then we use string interpolation to show the newArrayName -->

<p>for syntax approach</p>
@for (user of users; track user) {
    <h3>{{ user }} - Loaded using For Syntax Block</h3>
}