<!-- Structural Directives in Angular -->


<!-- to add the attributes inside the hadding we have to start it with * and then the attribute the ngIf is the old approach we dont use it anyymore. here we are just working on the old approach which starts with ng there is no ngElse, so we use ! sign after using ngIf to make it ngElse -->

<!-- <h2 *ngIf="isLoggedIn" >{{ userName }}</h2>

<h4 *ngIf="!isLoggedIn" >User is not loggen in</h4> -->



<!-- the new syntax approach is @If then we will add the component inside the () and then will get what we want inside the {}. In this we are just working with the new angular approach which starts with @ -->

<!-- @if (isLoggedIn) {
    <h2>{{ userName }}</h2>
}

@else {
    <h4>Trying something new</h4>
}

@if (!isLoggedIn) {
    <h5>{{"@Else is working"}}</h5>
} -->

<!-- if directives with Number values. the first attemp is using the old approach where we have used the ngIf, but the new appraoch is @if and that is easy to use -->

<!-- <button (click)="countLoginAttempts()" *ngIf="loginCount < 3">Log In</button>

<h4 *ngIf="loginCount > 2" >Exceeded 3 Login attemts, try again in 3 years.</h4> -->


@if(loginCount < 3){
<button (click)="countLoginAttempts()" >Login Syntax</button>
}

@if (loginCount > 2) {
    <h4>Exceeded 3 Login attemts, try again in 3 years.</h4>
}

<!-- String values conditions First we used the old approach to see what is the userRole inside the TS file, and then displays the message according to that role,a nd then we used the new approach of @if and @else if to display the message according to the role inside the TS file -->

<!-- <h5 *ngIf="userRole == 'Admin'; else memberMessage " >Welcome Admin</h5>

<ng-template #memberMessage >
    <h5>Welcome Member</h5>
</ng-template> -->

@if (userRole == 'Admin') {
    <h5>Welcome Admin</h5>
}
@else if(userRole == 'Member') {
    <h5>Welcome Member</h5>
}

<!-- What is Ng-Template? It is a great tool in angular which we can use when we need it and we can keep it hidden until we need it. like in the given example, if we use the ng-template without giving any else condition it will never be shown inside our project -->

<h2 *ngIf="userRole == 'Admin'; else dynamicTemplate">Using Dynamic Template</h2>

<ng-template #dynamicTemplate>
    <p>Content inside ng-template</p>
</ng-template>

<!-- ngTemplateOutlet. so by using the NgTemplateOutlet we don't have to make buttons on each div. we can just make one button in one ngTemplateOutlet and then we can use it wherever we want. We don't just have to make buttons. we can do anything and make anything inside the ng-template, and then by using ngTemplateOutlet we can use them wherever we want -->

<ng-template  #callToAction>
    <button>Join Now</button>
</ng-template>

<div [ngTemplateOutlet]="callToAction" >
    <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Hero</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Footer</h5>
</div>

<!-- ngFor directive: so instead of getting the array data separately, we can get the whole data by using ngFor by making another array using let and then storning all the files of our Array which we made in TS inside that new array, and then used the string interpolation to load this inside the browser view -->

<!-- <h3> {{users}} </h3>

<h3> {{users[0] }} </h3>
<h3> {{users[1] }} </h3>
<h3> {{users [2] }} </h3>
<h3> {{users [3] }} </h3> -->

<!-- <h3 *ngFor="let user of users" > {{ user }} </h3> -->

<!-- in the new approach by using @for we can loop through the Array which we made in TS file, by puting @for and then making a new array inside the () and then storing the files of TS file's array inside that new array by using for ArrayName and then in the new approach we need to define the track of the new array which we have made so we use ; track and then newArrayName to get its track done and after that inside the {} we first get how we want to show data like using h3 and then we use string interpolation to show the newArrayName -->

<!-- <p>for syntax approach</p>
@for (user of users; track user) {
    <h3>{{ user }} - Loaded using For Syntax Block</h3>
} -->

<!-- Fetching data in list order. So, we made a ul > li tags and then added the arrays inside them to get the data from array, usinf both old and new approach -->



<!-- <ul>
    <li *ngFor="let user of users" >{{ user }}</li>
</ul>

<ul>
    @for(user of users; track user) {
        <li>{{ user }}</li>
    }
</ul> -->



<!-- fetching specific data from array's type any -->



<!-- <ul>
    <li *ngFor="let user of usersObj">{{user.name}}</li>
</ul>

<ul>
    @for(user of usersObj; track user) {
        <li>{{user.id}}</li>
    }
</ul> -->



<!-- Change Detection: used the angular to push new user's details inside the already existed array in TS file which is usersObj. and when we clicked on the button the new persons details were added on the instant without reloading the page, which is a great parameter of angular named Change Detection -->

<button (click)="addNewUser()" >Add New User</button>

<!-- Change Detection 2: Deleting some array's objects. In the example below we used the usersObj example and then we added the delete button infront of every Object present inside the array, and then we made the onDelete function inside the ts and used it to delete the object. the 2nd user which is inside the onDelete(user) is the user which we are getting from ts file and the firt user which is lt user of usersObj is the array which we made here in HTML -->

<!-- <ul>
    <li *ngFor="let user of usersObj">{{user.name}} <button (click)="onDelete(user)" >Delete</button></li>
</ul> -->

<!-- Index of For loop: where we can delete the specific object using the simple lines of codes inside the HTML with just one component in ts file. we have to make a new variable in it, to make it loop through the array -->

<!-- <ul>
    <li *ngFor="let user of usersObj; let i = index">{{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button></li>
</ul> -->

<!-- in this example below we have leant how to apply the @for directive and use the change detection in angular, in this we have to use $ sign before the index inside the i variable to make sure that it works -->

<!-- <ul>
    @for(user of usersObj; track user; let i = $index) {
        <li> {{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button> </li>
    }
</ul> -->


<!-- array length index: tell toal number of users in array using JS -->

<!-- <ul>
    <li *ngFor="let user of usersObj; let i = index"> {{usersObj.length}} - {{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button></li>
</ul> -->

<!-- counting total number of users using NgFor count (old approach) -->

<!-- <ul>
    <li *ngFor="let user of usersObj; let i = index; let usersCount = count"> {{usersCount}} - {{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button></li>
</ul> -->

<!-- counting the total number of users using the new angular approach @For -->

<!-- <ul>
    @for(user of usersObj; track user; let i = $index; let usersCount = $count) {
        <li> {{usersCount}} {{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button> </li>
    }
</ul> -->

<!-- if there is no users info in Array: So the below statement will be true is there is actually no users details in the Array inside the TS file. BUT, when we will click on Add new user button the new users details will be aded and the statement will be false so the p tag will no further display -->

<!-- <div *ngIf="usersObj.length == 0">
    <p>No users to Display</p>
</div> -->

<!-- no users info in Array inside TS file, now using the new approach @if which we will have to use inside the ul tag. and not separately from it. we can also use the empty block to get the same result which we are getting from using @if. but we have to use the empty block after the @for block, in this way if the array inside the for block is empty it will leave that and will move to the empty block and display what we have written there -->

<!-- <ul>

    @if(usersObj.length == 0){
        <p>No users to Display - Loaded using the syntax</p>
    }

    @for(user of usersObj; track user; let i = $index; let usersCount = $count) {
        <li> {{usersCount}} {{i}} {{user.name}} <button (click)="onDelete(i)" >Delete</button> </li>
    }

    @empty {
        <p>No users to Display - Loaded using empty syntax block</p>
    }

</ul> -->

<!-- checking the first and last properties, so in this we have made new variables named first and last and then made it to give the answer in true or false if the value is first and last -->

<!-- @for(user of usersObj; track user; let i = $index; let usersCount = $count; let first = $first; let odd = $odd) {
    <li> {{odd}} - {{first}} - {{usersCount}} - {{i}} - {{user.name}} <button (click)="onDelete(i)" >Delete</button> </li>
} -->

<!-- checking if the coming user's number is even or odd; just like first and last approach we will make new variable and it will tell us which one is true and which one is not -->

<!-- @for(user of usersObj; track user; let i = $index; let usersCount = $count; let even = $even; let last = $last) {
    <li> {{last}} - {{even}} - {{i}} - {{user.name}} <button (click)="onDelete(i)" >Delete</button> </li>
} -->


<!-- SwitchCase directive: old approach, by using this we tell to show which property or which code according to the role present inside the TS file, first we have to define the switch and then we have to define the cases. and if there is no role assigned then we can use the ngSwitchDefault and then there is no need to define the case -->

<div [ngSwitch]="usersRole" >
    <p *ngSwitchCase= "'Admin'" >Welcome Admin</p>
    <p *ngSwitchCase = "'Member'" >Welcome Member</p>
    <p *ngSwitchCase = "'Editor'" >Welcome Editor</p>

    <p *ngSwitchDefault >Please Login</p>
</div>

<!-- SwitchCase Directive using the new approach using @switch @case. So, in this we need to define the switch once in which we will tell the variable of TS file and in the @case we will first define about which role we want to show the message inside the () and then inside {} we show which message we want to show. and if there is no role defined, instead of using @case. we use @default and then just the message inside the {} -->

@switch (usersRole) {
    @case ('Admin') {
        <p>Welcome Admin - syntax approach</p>
    }
    @case ('Editor') {
        <p>Welcome Editor -Syntax Approach</p>
    }
    @default { 
        <p>please Login</p> 
    }
}